* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 1100px;

  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: 220px;
  height: 385px;
  border-top: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  border-bottom: 2px solid rgb(224, 224, 224);
  border-left: 2px solid rgb(224, 224, 224);
  border-radius: 5px;
  
  padding: 10px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #fff;
}

h4 {
  font-weight: bold;
}

.imgBeerModelo {
  margin-top: 10px;

  width: 60px;
  height: 180px;
}

.imgBeerPresident {
  margin-top: 10px;

  width: 120px;
  height: 180px;
}

.imgBeerBrahmaLight {
  margin-top: 10px;

  width: 150px;
  height: 180px;
}

.imgBeerBudweiser {
  margin-top: 10px;

  width: 90px;
  height: 180px;
}

.description, .infoProduct, .priceProduct, .info, .footer, h4 {
  width: 100%;
  padding: 3px;
}

.description {
  height: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoProduct {
  font-size: 0.8125rem;
  color: rgb(99, 99, 99);
}

.recycleIcon {
  width: 10px;
  height: 10px;

  margin-left: 5px;
}

.priceProduct {
  font-size: 0.875rem;
  font-weight: bold;

  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info {
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(47, 168, 67);
}

.detailsLink {
  width: 100%;

  margin-top: 10px;
}

.footer {
  max-height: 15%;

  display: flex;
  align-items: center;
  justify-content: space-around;

}

button {
  background: #fff;
  border: 1px solid rgb(28, 62, 155);
  color: rgb(32, 69, 170);
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  /* background-color: rgb(243, 243, 243); */

  background: rgb(32, 69, 170);
  color: #fff;

  transition: background-color 0.3s;
}

.btnRetirar, .btnAdicionar {
  min-width: 30px;
  min-height: 30px;

  border-radius: 100%;
}


.btnUpdate {
  min-width: 45%;
  min-height: 100%;

  border-radius: 5px;
}

.Modelo {
  background: rgb(201, 200, 200);
  border: 1px solid rgb(201, 200, 200);
  color: rgb(92, 92, 92);
  font-weight: bold;

  cursor: pointer;
}

.btnInative {
  background: #fff;
  border: 1.5px solid rgb(92, 92, 92);
  color: rgb(92, 92, 92);

  cursor: pointer;
}

.BrahmaLight {
  background: rgb(201, 200, 200);
  border: 1px solid rgb(201, 200, 200);
  color: rgb(92, 92, 92);
  font-weight: bold;

  cursor: pointer;
}

.labelCount {
  width: 14%;
  height: 85%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;

  text-align: center;
}
